<header>
 <h1>"Student's List”</h1>
</header>

<head>
  
</head>

<div class="main posts-index">
  <div class="container">
    <% @students.each do |student| %>
      <div class="posts-index-item">
        <li><i><%= student.name %></i></li>
        </br>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag("/create") do %>

        <textarea name = "name"></textarea>
        <input type="submit" value="投稿">
        
<% end %>
      
      


